.title {
  color: #123261;
  /* margin-left: -215px; */
}
.sub-title {
  color: #545b61;
  font-weight: 600;
  /* margin-left: -215px; */
}
.question-text {
  color: #545b61;
  font-weight: bold;
}

.question {
  text-align: center;
}
.a2 {
  position: relative;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

.test .custom-control-label::before {
  width: 1.5rem;
  height: 1.5rem;
  border: #adb5bd solid 3px;
}
.test .custom-control-label::after {
  width: 1.5rem;
  height: 1.5rem;
}
.test .list-group-item {
  padding: 2rem 0;
  border-radius: 0.25rem;
}

.question-error {
  border: #dc3545 solid 1px;
  /* background-color: #ffcccb; */
  z-index: 999;
}
.mail-error {
  text-align: left;
  margin-left: 140px;
}
